:root {
  --color-1: #d4d0c8;
  --color-2: #404040;
  --color-3: #808080;
  --color-4: #ffffff;
  --color-select: #0a246a;
  --color-titlebar-1: #0a246a;
  --color-titlebar-2: #a6caf0;
  --color-titlebar-text: #ffffff;
  --color-titlebar-inactive-1: #808080;
  --color-titlebar-inactive-2: #c0c0c0;
  --color-titlebar-inactive-text: #d4d0c8;
  --wallpaper: url(bg/std.png);
  --wallpaper-style: unset;
  --color-wallpaper: #3a6ea5;
  --close: url(titlebar/close-std.png);
  --close-active: url(titlebar/close-std-active.png);
  --close-disabled: url(titlebar/close-std-disabled.png);
  --font-face: 'tahoma-8pt', 'Tahoma';
  --font-size-main: 1em;
  --font-size-bold: 8pt;
  --badge-1: url(88x31/std/lester.page_camera.gif);
  --badge-2: url(88x31/std/madewithvscode.gif);
  --badge-3: url(88x31/std/bestviewedwitheyes.gif);
  --msgLineHeight: 1em;
}

body::after { content: unset !important; }
